@media screen and (max-width:510px) {
    @font-face {
        font-family: "Ubuntu-Light";
        src: url("fonts/Ubuntu-Light.ttf");
    }

    @font-face {
        font-family: "Roboto-Regular";
        src: url("fonts/Roboto-Regular.ttf");
    }

    @font-face {
        font-family: "Roboto-Bold";
        src: url("fonts/Roboto-Bold.ttf");
    }

    body {
        margin: 0;
    }

    .header {
        margin: 0 auto;
        width: 100%;
    }

    .header__info {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1.96vw;
        margin-bottom: 1.96vw;
        max-width: 100vw;
    }

    .header__left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 0.59vw;
    }

    .header__left img {
        object-fit: cover;
    }

    #id1 {
        max-width: 3.33vw;
        min-height: 3.33vw;
    }

    #id2 {
        max-width: 6.27vw;
        min-height: 3.33vw;
    }

    .header__left p {
        text-align: center;
        font-family: "Ubuntu-Light";
        margin: 0;
        color: #333;
        font-size: 3.92vw;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .header__right {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: row;
        gap: 11.76vw;
    }

    .header__nav {
        display: none;
    }

    .header__img {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 5.88vw;
    }

    .header__img img {
        max-width: 4.71vw;
        min-height: 4.71vw;
    }

    .spacer {
        width: 100%;
        height: 0.20vw;
        background: #DDD;
        margin: 0;
        margin-bottom: 3.53vw;
    }

    .main {
        margin: 0 auto;
        margin-top: 3.92vw;
    }

    .head {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5.69vw;
        max-width: 100vw;

    }

    .head__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 3.92vw;
        max-width: 56.08vw;
        margin: 0 auto;
        padding-bottom: 0px;
    }

    /*первый заголовок*/
    .head__info h1 {
        margin: 0;
        font-family: "Roboto-Regular";
        color: #4C5866;
        font-size: 7.45vw;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
    }

    .head__info p {
        margin: 0;
        color: #85859B;
        font-family: "Roboto-Regular";
        font-size: 3.14vw;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    .head__info button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 38.43vw;
        height: 11.76vw;
        padding: 3.92vw 9.80vw;
        gap: 1.18vw;
        border: 0.20vw solid #7875FE;
        background-color: #fff;
    }

    /*текст внутри кнопки*/
    .head__info button p {
        color: #7875FE;
        font-family: "Roboto-Regular";
        font-size: 3.92vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .head__img {
        display: none;
    }


    /*чисто серый фон*/
    .fon {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        background: #EBEBEB;
    }

    .fon__buissnes {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        max-width: 100vw;
    }

    .fon__element {
        display: flex;
        flex-direction: column;
        gap: 3.73vw;
        margin-top: 11.76vw;
        max-width: 29.41vw;
        padding-bottom: 0px;
    }

    .fon__spacer {
        width: 100%;
        min-height: 0.20vw;
        background: #C0C0C0;
    }

    /*карточка товара*/
    .fon__card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0px;
        min-height: 35.88vw;
    }

    .fon__img {
        display: flex;
        max-width: 31.37vw;
        min-height: 23.14vw;
    }

    .fon__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .fon__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }

    /*заголовок карточки*/
    .fon__info h1 {
        margin: 0;
        color: #666;
        font-family: "Roboto-Bold";
        font-size: 3.14vw;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }

    /*описание карточки*/
    .fon__info p {
        margin: 0;
        color: #85859B;
        font-family: "Roboto-Regular";
        font-size: 3.14vw;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    .paper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 3.92vw;
        margin: 0;
        max-width: 100vw;
    }

    .paper__img {
        display: flex;
        width: 64.71vw;
        height: 50vw;
    }

    .paper__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .paper__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }

    /*заголовок бумаги*/
    .paper__info h1 {
        max-width: 52.94vw;
        min-height: 4.71vw;
        color: #666;
        font-family: "Roboto-Regular";
        font-size: 4.71vw;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        margin: 0;
    }

    /*текст бумаги*/
    .paper__info p {
        max-width: 100vw;
        color: #85859B;
        font-family: "Roboto-Regular";
        font-size: 3.14vw;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
    }

    .catalog {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 100vw;
    }

    .catalog__card {
        margin: 0 auto;
        margin-top: 11.76vw;
        display: flex;
        flex-direction: column;
        max-width: 47.06vw;
    }

    .catalog__img {
        display: flex;
        align-items: end;
        max-width: 47.06vw;
    }

    .catalog__img img {
        width: 100%;
        object-fit: cover;
    }

    .catalog__info {
        display: flex;
        flex-direction: column;
        max-width: 47.06vw;
    }

    /*текст заголовка*/
    .catalog__info h1 {
        margin: 0;
        margin-top: 3.92vw;
        color: #666;
        font-family: "Roboto-Regular";
        font-size: 4.71vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    /*подтекст заголовка*/
    .catalog__info h2 {
        margin: 0;
        margin-top: 1.57vw;
        color: #B5B5BD;
        font-family: "Roboto-Regular";
        font-size: 2.75vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    /*текст товара*/
    .catalog__info p {
        max-width: 47.06vw;
        margin: 0;
        margin-top: 1.57vw;
        color: #85859B;
        font-family: "Roboto-Regular";
        font-size: 3.14vw;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
    }

    .catalog__info a {
        margin: 0;
        margin-top: 3.92vw;
        text-decoration-line: none;
        color: #7875FE;
        font-family: "Roboto-Regular";
        font-size: 3.92vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .catalog__info a svg {
        width: 4.12vw;
        height: 2.94vw;
        object-fit: cover;
    }

    /*знаки*/
    .signs {
        width: 100%;
        background: #EBEBEB;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5.88vw;
        margin-top: 11.76vw;
        padding-top: 11.76vw;
        padding-bottom: 11.76vw;
    }

    .signs__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 47.06vw;
        height: 24.90vw;
        border: 0.20vw solid #C4C4C4;
    }

    /*скетчбук*/
    .sketchbook {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 1.96vw;
        margin-bottom: 11.76vw;
    }

    .sketchbook__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100vw;
    }

    .sketchbook__info h1 {
        margin: 0;
        color: #666;
        font-family: "Roboto-Regular";
        font-size: 4.71vw;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        margin-bottom: 3.92vw;
    }

    .sketchbook__info p {
        margin: 0;
        color: #85859B;
        font-family: "Roboto-Regular";
        font-size: 3.14vw;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
    }

    .sketchbook__info button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 38.43vw;
        height: 11.76vw;
        padding: 3.92vw 9.80vw;
        gap: 1.18vw;
        border: 0.20vw solid #7875FE;
        background-color: #fff;
        margin-top: 5.88vw;
    }

    .sketchbook__info button p {
        color: #7875FE;
        font-family: "Roboto-Regular";
        font-size: 3.92vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .sketchbook__img {
        display: none;
    }

    /*футер*/
    .footer {
        margin: 0 auto;
        width: 100%;
        background: #4C5866;
    }

    .footer__info {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 5.49vw;
        padding-bottom: 5.69vw;
        max-width: 100vw;
    }

    .footer__left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 0.59vw;
    }

    .footer__left p {
        text-align: center;
        font-family: "Ubuntu-Light";
        margin: 0;
        color: #fff;
        font-size: 3.92vw;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .footer__right {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: row;
        gap: 5.88vw;
    }

    .footer__right a svg {
        width: 4.71vw;
        height: 4.71vw;
        object-fit: cover;
    }

    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.59vw;
        margin-bottom: 0.59vw;
    }

    .text p {
        margin: 0;
        color: #4C5866;
        font-family: "Roboto-Regular";
        font-size: 2.55vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    #Dog {
        margin: 0;
        color: #BCBCBC;
        font-family: "Roboto-Regular";
        font-size: 2.55vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    /*690*/
    .header__right-290 {
        display: none;
    }

    /*690*/
    .header__nav-690 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 10vw;
        font-family: "Roboto-Regular";
    }

    .header__nav-690 a {
        text-decoration-line: none;
        color: #4C5866;
        font-family: "Roboto-Regular";
        font-size: 3.92vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .spacer-690 {
        display: block;
        width: 100%;
        height: 0.20vw;
        background: #DDD;
        margin-top: 3.53vw;
    }

    .head__img-510 {
        display: flex;
        width: 38.24vw;
        height: 77.65vw;
    }

    .header__img-510 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .head__img-690 {
        display: none;
    }

    .sketchbook__img-690 {
        display: none;
    }

    .sketchbook__img-510 {
        margin-top: 11.76vw;
        display: flex;
        align-items: end;
        width: 88.04vw;
        height: 66.86vw;
        /*341.122px*/
    }

    .sketchbook__img-510 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .footer__right-290 {
        display: none;
    }

    .spacer-290 {
        display: none;
    }
}