@media screen and (max-width:690px) {
    @font-face {
        font-family: "Ubuntu-Light";
        src: url("fonts/Ubuntu-Light.ttf");
    }

    @font-face {
        font-family: "Roboto-Regular";
        src: url("fonts/Roboto-Regular.ttf");
    }

    @font-face {
        font-family: "Roboto-Bold";
        src: url("fonts/Roboto-Bold.ttf");
    }

    body {
        margin: 0;
    }

    .header {
        margin: 0 auto;
        width: 100%;
    }

    .header__info {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 690px;
    }

    .header__left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 3px;
    }

    .header__left img {
        object-fit: cover;
    }

    #id1 {
        max-width: 17px;
        min-height: 17px;
    }

    #id2 {
        max-width: 32px;
        min-height: 17px;
    }

    .header__left p {
        text-align: center;
        font-family: "Ubuntu-Light";
        margin: 0;
        color: #333;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .header__right {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: row;
        gap: 60px;
    }

    .header__nav {
        display: none;
    }

    .header__img {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 30px;
    }

    .header__img img {
        max-width: 24px;
        min-height: 24px;
    }

    .spacer {
        width: 100%;
        height: 1px;
        background: #DDD;
        margin: 0;
        margin-bottom: 18px;
    }

    .main {
        margin: 0 auto;
        margin-top: 60px;
    }

    .head {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
        max-width: 690px;

    }

    .head__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
        max-width: 390px;
        margin: 0 auto;
        padding-bottom: 0px;
    }

    /*первый заголовок*/
    .head__info h1 {
        margin: 0;
        font-family: "Roboto-Regular";
        color: #4C5866;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
    }

    .head__info p {
        margin: 0;
        color: #85859B;
        font-family: "Roboto-Regular";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    .head__info button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 255px;
        height: 70px;
        padding: 20px 50px;
        gap: 6px;
        border: 1px solid #7875FE;
        background-color: #fff;
    }

    /*текст внутри кнопки*/
    .head__info button p {
        color: #7875FE;
        font-family: "Roboto-Regular";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .head__img {
        display: none;
    }


    /*чисто серый фон*/
    .fon {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        background: #EBEBEB;
    }

    .fon__buissnes {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        max-width: 690px;
    }

    .fon__element {
        display: flex;
        flex-direction: column;
        gap: 19px;
        margin-top: 60px;
        max-width: 210px;
        padding-bottom: 0px;
    }

    .fon__spacer {
        width: 100%;
        min-height: 1px;
        background: #C0C0C0;
    }

    /*карточка товара*/
    .fon__card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
        min-height: 118px;
    }

    .fon__img {
        display: flex;
        max-width: 150px;
        min-height: 111px;
    }

    .fon__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .fon__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }

    /*заголовок карточки*/
    .fon__info h1 {
        margin: 0;
        color: #666;
        font-family: "Roboto-Bold";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }

    /*описание карточки*/
    .fon__info p {
        margin: 0;
        color: #85859B;
        font-family: "Roboto-Regular";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    .paper {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin: 0 auto;
        max-width: 690px;
    }

    .paper__img img {
        max-width: 330px;
        min-height: 256px;
    }

    .paper__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /*заголовок бумаги*/
    .paper__info h1 {
        max-width: 330px;
        min-height: 60px;
        color: #666;
        font-family: "Roboto-Regular";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
    }

    /*текст бумаги*/
    .paper__info p {
        max-width: 330px;
        color: #85859B;
        font-family: "Roboto-Regular";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
    }

    .catalog {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 690px;
    }

    .catalog__card {
        margin: 0 auto;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        max-width: 330px;
    }

    .catalog__img {
        display: flex;
        align-items: end;
        max-width: 330px;
    }

    .catalog__img img {
        width: 100%;
        object-fit: cover;
    }

    .catalog__info {
        display: flex;
        flex-direction: column;
        max-width: 330px;
    }

    /*текст заголовка*/
    .catalog__info h1 {
        margin: 0;
        margin-top: 20px;
        color: #666;
        font-family: "Roboto-Regular";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    /*подтекст заголовка*/
    .catalog__info h2 {
        margin: 0;
        margin-top: 8px;
        color: #B5B5BD;
        font-family: "Roboto-Regular";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    /*текст товара*/
    .catalog__info p {
        max-width: 330px;
        margin: 0;
        margin-top: 8px;
        color: #85859B;
        font-family: "Roboto-Regular";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
    }

    .catalog__info a {
        margin: 0;
        margin-top: 20px;
        text-decoration-line: none;
        color: #7875FE;
        font-family: "Roboto-Regular";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .catalog__info a svg {
        width: 21px;
        height: 15px;
        object-fit: cover;
    }

    /*знаки*/
    .signs {
        width: 100%;
        background: #EBEBEB;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        gap: 30px;
        margin-top: 60px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .signs__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 80px;
        border: 1px solid #C4C4C4;
    }

    /*скетчбук*/
    .sketchbook {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 30px;
    }

    .sketchbook__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 330px;
    }

    .sketchbook__info h1 {
        margin: 0;
        color: #666;
        font-family: "Roboto-Regular";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        margin-bottom: 20px;
    }

    .sketchbook__info p {
        margin: 0;
        color: #85859B;
        font-family: "Roboto-Regular";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
    }

    .sketchbook__info button {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 255px;
        min-height: 70px;
        padding: 20px 50px;
        gap: 6px;
        border: 1px solid #7875FE;
        background-color: #fff;
        margin-top: 30px;
    }

    .sketchbook__info button p {
        color: #7875FE;
        font-family: "Roboto-Regular";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .sketchbook__img {
        display: none;
    }

    /*футер*/
    .footer {
        margin: 0 auto;
        width: 100%;
        background: #4C5866;
    }

    .footer__info {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 28px;
        padding-bottom: 29px;
        max-width: 690px;
    }

    .footer__left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 3px;
    }

    .footer__left p {
        text-align: center;
        font-family: "Ubuntu-Light";
        margin: 0;
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .footer__right {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: row;
        gap: 30px;
    }

    .footer__right a svg {
        width: 24px;
        height: 24px;
        object-fit: cover;
    }

    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .text p {
        margin: 0;
        color: #4C5866;
        font-family: "Roboto-Regular";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    #Dog {
        margin: 0;
        color: #BCBCBC;
        font-family: "Roboto-Regular";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    /*690*/
    .header__nav-690 {
        display: none;
    }

    /*690*/
    .header__nav-690 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 60px;
        font-family: "Roboto-Regular";
    }

    .header__nav-690 a {
        text-decoration-line: none;
        color: #4C5866;
        font-family: "Roboto-Regular";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .spacer-690 {
        display: block;
        width: 100%;
        height: 1px;
        background: #DDD;
        margin-top: 18px;
    }

    .head__img-690 {
        display: flex;
        align-items: end;
        max-width: 270px;
        min-height: 410px;
    }

    .head__img-690 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .sketchbook__img-690 {
        display: flex;
        align-items: end;
        max-width: 449px;
        min-height: 341.122px;
    }

    .sketchbook__img-690 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .sketchbook__img-510 {
        display: none;
    }

    .header__img-510 {
        display: none;
    }
}