@media screen and (max-width:1110px) {
    @font-face {
        font-family: "Ubuntu-Light";
        src: url("fonts/Ubuntu-Light.ttf");
    }

    @font-face {
        font-family: "Roboto-Regular";
        src: url("fonts/Roboto-Regular.ttf");
    }

    @font-face {
        font-family: "Roboto-Bold";
        src: url("fonts/Roboto-Bold.ttf");
    }

    body {
        margin: 0;
    }

    .header {
        margin: 0 auto;
        width: 100%;
    }

    .header__info {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 2.52vw;
        /*28px*/
        margin-bottom: 2.61vw;
        /*29px*/
        max-width: 100vw;
        /*1110px*/
    }

    .header__left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 0.27vw;
        /*3px*/
    }

    .header__left img {
        object-fit: cover;
    }

    #id1 {
        max-width: 1.53vw;
        /*17px*/
        min-height: 1.53vw;
        /*17px*/
    }

    #id2 {
        max-width: 2.88vw;
        /*32px*/
        min-height: 1.53vw;
        /*17px*/
    }

    .header__left p {
        text-align: center;
        font-family: "Ubuntu-Light";
        margin: 0;
        color: #333;
        font-size: 1.80vw;
        /*20px*/
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .header__right {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: row;
        gap: 5.41vw;
        /*60px*/
    }

    .header__nav {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 5.41vw;
        /*60px*/
        font-family: "Roboto-Regular";
    }

    .header__nav a {
        text-decoration-line: none;
        color: #4C5866;
        font-family: "Roboto-Regular";
        font-size: 1.80vw;
        /*20px*/
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .header__img {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 2.70vw;
        /*30px*/
    }

    .header__img img {
        max-width: 2.16vw;
        min-height: 2.16vw;
        /*24px*/
    }

    .spacer {
        width: 100%;
        min-height: 0.09vw;
        /*1px*/
        background: #DDD;
        margin-bottom: 5.41vw;
        /*60px*/
    }

    .main {
        margin: 0 auto;
        margin-top: 5.41vw;
        /*60px*/
    }

    .head {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 11.26vw;
        /*125px*/
        max-width: 100vw;
        /*1110px*/

    }

    .head__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2.70vw;
        /*30px*/
        max-width: 40.09vw;
        /*445px*/
        margin: 0 auto;
        padding-bottom: 0px;
    }

    /*первый заголовок*/
    .head__info h1 {
        margin: 0;
        margin-top: 6.31vw;
        /*70px*/
        font-family: "Roboto-Regular";
        color: #4C5866;
        font-size: 5.41vw;
        /*60px*/
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
    }

    .head__info p {
        margin: 0;
        color: #85859B;
        font-family: "Roboto-Regular";
        font-size: 1.62vw;
        /*18px*/
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    .head__info button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22.97vw;
        /*255px*/
        height: 6.31vw;
        /*70px*/
        padding: 1.80vw 4.50vw;
        /*20px 50px*/
        gap: 0.54vw;
        /*6px*/
        border: 0.09vw solid #7875FE;
        background-color: white;
    }

    /*текст внутри кнопки*/
    .head__info button p {
        color: #7875FE;
        font-family: "Roboto-Regular";
        font-size: 1.80vw;
        /*20px*/
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .head__img {
        display: flex;
        align-items: end;
        max-width: 48.65vw;
        /*540px*/
        min-height: 50.45vw;
        /*560px*/
    }

    .head__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*чисто серый фон*/
    .fon {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        background: #EBEBEB;
    }

    .fon__buissnes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2.70vw;
        /*30px*/
        margin: 0 auto;
        max-width: 100vw;
        /*1110px*/
    }

    .fon__element {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1.71vw;
        /*19px*/
        margin-top: 8.11vw;
        /*90px*/
        max-width: 31.53vw;
        /*350px*/
        min-height: 12.52vw;
        /*139px*/
        padding-bottom: 0px;
    }

    .fon__spacer {
        width: 100%;
        min-height: 0.09vw;
        /*1px*/
        background: #C0C0C0;
    }

    /*карточка товара*/
    .fon__card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2.70vw;
        /*30px*/
        min-height: 10.63vw;
        /*118px*/
    }

    .fon__img {
        display: flex;
        max-width: 14.41vw;
        /*160px*/
        min-height: 10.63vw;
        /*118px*/
    }

    .fon__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .fon__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }

    /*заголовок карточки*/
    .fon__info h1 {
        margin: 0;
        color: #666;
        font-family: "Roboto-Bold";
        font-size: 1.62vw;
        /*18px*/
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }

    /*описание карточки*/
    .fon__info p {
        margin: 0;
        color: #85859B;
        font-family: "Roboto-Regular";
        font-size: 1.62vw;
        /*18px*/
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    .paper {
        display: flex;
        flex-direction: row;
        gap: 2.70vw;
        /*30px*/
        margin: 0 auto;
        max-width: 100vw;
        /*1110px*/
        padding-top: 8.11vw;
        /*90px*/
        padding-bottom: 8.11vw;
        /*90px*/
    }

    .paper__img img {
        max-width: 65.77vw;
        /*730px*/
        min-height: 50.81vw;
        /*564px*/
    }

    .paper__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /*заголовок бумаги*/
    .paper__info h1 {
        max-width: 31.53vw;
        /*350px*/
        min-height: 6.67vw;
        /*74px*/
        color: #666;
        font-family: "Roboto-Regular";
        font-size: 3.60vw;
        /*40px*/
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
    }

    /*текст бумаги*/
    .paper__info p {
        max-width: 31.53vw;
        /*350px*/
        color: #85859B;
        font-family: "Roboto-Regular";
        font-size: 1.62vw;
        /*18px*/
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
    }

    .catalog {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2.70vw;
        /*30px*/
        margin: 0 auto;
        max-width: 100vw;
        /*1110px*/
    }

    .catalog__card {
        display: flex;
        flex-direction: column;
        max-width: 22.97vw;
        /*255px*/
        min-height: 41.89vw;
        /*465px*/
        margin-bottom: 8.11vw;
        /*90px*/
        margin-top: 8.11vw;
        /*90px*/
    }

    .catalog__img {
        display: flex;
        align-items: end;
        max-width: 22.97vw;
        /*255px*/
        min-height: 16.22vw;
        /*255px*/
    }

    .catalog__img img {
        width: 100%;
        object-fit: cover;
    }

    .catalog__info {
        display: flex;
        flex-direction: column;
        max-width: 20.27vw;
        /*225px*/
    }

    /*текст заголовка*/
    .catalog__info h1 {
        margin: 0;
        margin-top: 1.80vw;
        /*20px*/
        color: #666;
        font-family: "Roboto-Regular";
        font-size: 2.70vw;
        /*30px*/
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    /*подтекст заголовка*/
    .catalog__info h2 {
        margin: 0;
        margin-top: 0.72vw;
        /*8px*/
        color: #B5B5BD;
        font-family: "Roboto-Regular";
        font-size: 1.26vw;
        /*14px*/
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    /*текст товара*/
    .catalog__info p {
        max-width: 22.97vw;
        /*255px*/
        margin: 0;
        margin-top: 0.72vw;
        /*8px*/
        color: #85859B;
        font-family: "Roboto-Regular";
        font-size: 1.62vw;
        /*18px*/
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
    }

    .catalog__info a {
        margin: 0;
        margin-top: 1.80vw;
        /*20px*/
        text-decoration-line: none;
        color: #7875FE;
        font-family: "Roboto-Regular";
        font-size: 1.80vw;
        /*20px*/
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .catalog__info a svg {
        width: 1.89vw;
        /*21px*/
        height: 1.35vw;
        /*15px*/
        object-fit: cover;
    }

    /*знаки*/
    .signs {
        width: 100%;
        background: #EBEBEB;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        /*flex-wrap: wrap;*/
        gap: 2.70vw;
        /*30px*/
        padding-top: 8.11vw;
        /*90px*/
        padding-bottom: 8.11vw;
        /*90px*/
    }

    .signs__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22.97vw;
        /*255px*/
        height: 12.16vw;
        /*135px*/
        border: 1px solid #C4C4C4;
    }

    /*скетчбук*/
    .sketchbook {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 2.70vw;
        /*30px*/
        margin-top: 8.11vw;
        /*90px*/
    }

    .sketchbook__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 31.53vw;
        /*350px*/
    }

    .sketchbook__info h1 {
        margin: 0;
        color: #666;
        font-family: "Roboto-Regular";
        font-size: 3.60vw;
        /*40px*/
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        margin-bottom: 0.72vw;
        /*8px*/
    }

    .sketchbook__info p {
        margin: 0;
        color: #85859B;
        font-family: "Roboto-Regular";
        font-size: 1.62vw;
        /*18px*/
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
    }

    .sketchbook__info button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22.97vw;
        /*255px*/
        height: 6.31vw;
        /*70px*/
        padding: 1.80vw 4.50vw;
        /*20px 50px*/
        gap: 0.54vw;
        /*6px*/
        border: 0.09vw solid #7875FE;
        background-color: #fff;
        margin-top: 2.70vw;
        /*30px*/
    }

    .sketchbook__info button p {
        color: #7875FE;
        font-family: "Roboto-Regular";
        font-size: 1.80vw;
        /*20px*/
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .sketchbook__img {
        display: flex;
        align-items: end;
        max-width: 65.77vw;
        /*730px*/
        min-height: 1.80vw;
        /*20px*/
    }

    .sketchbook__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*футер*/
    .footer {
        margin: 0 auto;
        width: 100%;
        background: #4C5866;
    }

    .footer__info {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 2.52vw;
        /*28px*/
        padding-bottom: 2.61vw;
        /*29px*/
    }

    .footer__left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 0.27vw;
        /*3px*/
    }

    .footer__left p {
        text-align: center;
        font-family: "Ubuntu-Light";
        margin: 0;
        color: #fff;
        font-size: 1.80vw;
        /*20px*/
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    .footer__right {
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: row;
        gap: 2.70vw;
        /*30px*/
    }

    .footer__right a svg {
        width: 2.16vw;
        height: 2.16vw;
        object-fit: cover;
    }

    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.27vw;
        /*3px*/
        margin-bottom: 0.27vw;
        /*3px*/
    }

    .text p {
        margin: 0;
        color: #4C5866;
        font-family: "Roboto-Regular";
        font-size: 1.17vw;
        /*13px*/
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    #Dog {
        margin: 0;
        color: #BCBCBC;
        font-family: "Roboto-Regular";
        font-size: 1.17vw;
        /*13px*/
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    /*690*/
    .header__nav-690 {
        display: none;
    }

    .header__right-290 {
        display: none;
    }

    .spacer-690 {
        display: none;
    }

    .head__img-690 {
        display: none;
    }

    .head__img-510 {
        display: none;
    }

    .sketchbook__img-690 {
        display: none;
    }

    .sketchbook__img-510 {
        display: none;
    }

    .header__img-510 {
        display: none;
    }

    .footer__right-290 {
        display: none;
    }

    .spacer-290 {
        display: none;
    }
}